@import "tailwindcss";

:root {
  --bg-dark: #121212;
  --bg-card: #1e1e1e;
  --bg-sidebar: #181818;
  --primary: #ff4655;
  --primary-hover: #ff5e6a;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;
  --border: #333333;
}

body {
  @apply bg-[#121212] text-white font-sans antialiased overflow-hidden;
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}
